/* 背景色を設定*/
/* colorcode https://www.materialui.co/flatuicolors */
*{
    --main-white : #ecf0f1;
    --main-black : #2c3e50;
    --sub-black  : #34495e;
    --sub2-black : #263238;
    --main-red   : #c0392b;
    --sub-red    : #e74c3c;
    --main-gray  : #bdc3c7;

    --editor-background: var(--sub2-black);
}

/* 入力部分のCSS */
.editor {
    /* 上部余白 */
    margin-top: 2%;

    /* リサイズ禁止 */
    resize: none;

    /* 横幅を設定*/
    width: 90%;

    /* デフォの線を消す */
    outline: none;
    border: none;

    /* 背景を白にする */
    background-color: var(--editor-background);

    /* 線を引く */
    border: solid 1px var(--main-black);
    border-radius: 20px;

    /* 内側の余白 */
    /* 必ずpxで指定してください (JSで計算を行うため) */
    padding: 25px;

}

.editor:always{
    /* 線を消す */
    outline: none;
    border: none;
}

#tab-editors{
    /* 中央揃え */
    display: inline-block;
    text-align: center;
    width: 100%;
}

html{
    /* 背景を設定する */
    background-color: var(--editor-background);
}

.filename_box{
    /* 背景を設定する */
    background-color: var(--editor-background);

    /* デフォの線を消す */
    outline: none;
    border: none;

    /* 下線を引く */
    border-bottom: solid 1px var(--main-black);

    /* 横幅を指定 */
    width: 50%;
}
