header{
    width: 100vw;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    background-color: var(--main-black);
    color: var(--main-white);
}

#tab-buttons{
    width: 100vw;
    background-color: var(--sub-black);
    color: var(--main-white);
    /* text-align: center;*/
}

.tab_item > input[type=radio]{
    display: none;
}

.tab_item {
    padding: 0.2%;
    display: inline-block;

    /* マウスの形状を変える*/
    cursor: pointer;
}

.selected_tab{
    color: var(--sub-red) !important;
    background-color: var(--sub2-black) !important;
    font-weight: bolder;
}


* { 
    margin: 0px; 
    padding: 0px; 
}

.bar-item, .bar-logo{
    text-align: center;
    list-style: none;

    /* マウスの形状を変える*/
    cursor: pointer;
    
    margin-left: 1%;
}

.bar-logo{
    /* ロゴのフォント設定*/
    font-weight: 900;
    font-size: larger;

    /* flexで右寄せ */
    margin-right: auto;
}

.bar-item{
    /* ボタンの右の間隔 */
    margin-right: 1%;

    /* マウスの形状を変える*/
    cursor: pointer;
}

/* クリックされたときの色 */
.bar-item:active{
    color: var(--main-red);
    user-select: none;
}

#bar-container{
    /* 
    flexboxでいい感じに配置する
    参考サイト
    https://guillemot.jp/web/365
    https://knowledge.cpi.ad.jp/tech/169/
    */

    display: flex;
    justify-content: space-between;
}


/* スマホ用 */
@media screen and (max-width: 900px) {
    #bar-container{
        display: block;
    }
}
