.layer {
    /* 初期状態で非表示（JSで変化させる） */
    display: none;

    /* 真ん中に固定して全体表示 */
    position: absolute; 
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;

    /* 背景を設定 */
    background-color: black;
    opacity: 0.50;

    /* 後ろに回り込ませる */
    z-index: 0;
}

.popup {
    /* 初期状態で非表示（JSで変化させる） */
    display: none;

    /* 真ん中に固定 */
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    /* 幅と高さを設定 */
    width: 80%;
    height: 80%;

    /* 背景を設定 */
    background-color: var(--main-black);

    /* 角を丸くする */
    border-radius: 20px;

    /* テキストを中央揃え */
    /*text-align: center;*/

    /*はみ出たときの処理 */
    overflow: scroll;

    /* 行間 */
    line-height: 350%;

    /* 文字色 */
    color: var(--main-white);
}


/* スクロールバーを非表示にする */
/* 参考: https://www.yoheim.net/blog.php?q=20190801 */
.popup{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.popup::-webkit-scrollbar {
    display:none;
}


/* ボタン */
/* .close_button{ */
input[type="button"]{
    /* 背景色設定 */
    background-color: var(--sub-black);

    /* 影をなくす */
    box-shadow: none;

    /* 枠線をなくす */
    border-style: none;
    outline: none;

    /* 文字色を設定 */
    color: var(--main-white);

    /* 余白を設定 */
    padding: 2%;
    font-size: 0.8em;

    /* 中央に配置 */
    margin: 0 auto;

    /*カーソルを変更*/
    cursor: pointer;
}

/* マウスが触れたとき */
input[type="button"]:hover{
    opacity: 0.8;
}

/* マウスが押されたとき */
input[type="button"]:active{
    transform: translate(0,2px);
    border-bottom: none;
}


/* ポップアップ内のタイトル */
.popup-container > h1{
    /* 上部に余白を設定 */
    margin-top: 5%;

    /* 背景色を設定 */
    background-color: var(--sub2-black);

    /*重なりの優先順位*/
    z-index: 100;

    /* 中央揃え */
    text-align: center;
}


/* ボタンを最下部に固定する */
/*
.popup-container{
    
}
.close_button{

}
*/
