/* 入力部分のCSS */
.editor {
    /* 上部余白 */
    margin-top: 2%;

    /* リサイズ禁止 */
    resize: none;

    /* 横幅を設定*/
    width: 90%;

}

#tab-editors{
    /* 中央揃え */
    display: inline-block;
    text-align: center;
    width: 100%;
}
