.layer {
    /* 初期状態で非表示（JSで変化させる） */
    display: none;

    /* 真ん中に固定して全体表示 */
    position: absolute; 
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;

    /* 背景を設定 */
    background-color: black;
    opacity: 0.20;
}
.popup {
    /* 初期状態で非表示（JSで変化させる） */
    display: none;

    /* 真ん中に固定 */
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    /* 幅と高さを設定 */
    width: 50%;
    height: 50%;

    /* 背景を設定 */
    background-color: white;

    /* 角を丸くする */
    border-radius: 5px;

    /* テキストを中央揃え */
    text-align: center;
}
